# dependencies
/node_modules
/.pnp
.pnp.js

#dev
next-env.d.ts

# testing
/coverage

# production
/bin
/build
node_modules
/src
.gitignore
LICENSE
package.json
package-lock.json
picpic.config.json
readme.md
readme_cn.md
yarn.lock
# misc
.DS_Store
.env*

# debug
*-debug.log*
*-error.log*
*.zip
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
